body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #0099cc,#ff0066);
}

.top-bar{
  width: 100%;
  height: 75px;
  background-color: black;
}

.input-area{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 460px;
  height: 700px;
  border-width: 30px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 30px;
  background-color: black;
  transform: translate(-50%, -50%);
}

