html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(16, 15, 15);
}

.topbar{
    position: fixed;
    top: 0px;
    background-color: rgb(27, 27, 27);
    border-width: 2px;
    border-bottom: 5px;
    border-color: white;
    height: 75px;
    width: 100%;
}

.topbar_logo{
    
}